DATABASE_URL=postgresql://postgres.XXXX:XXXX@aws-1-us-east-1.pooler.supabase.com:5432/postgres
JWT_SECRET=tu-secreto-seguro-aqui
FRONTEND_URL=https://imprenta-client.onrender.com
NODE_ENV=development
PORT=3000
